.navigation {
  height: 60px;
  max-width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  /* box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23); */
  z-index: 1000;
}

.brand-name {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-left: 1rem;
}
.navigation-menu {
  margin-left: auto;
  direction: rtl;
  margin-right: 1.9rem;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.li-none {
  display: none;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: black;
}

.hamburger {
  border: 0;
  height: 34px;
  width: 34px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #000;
  color: white;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  position: absolute;
  top: 50%;
  right: 45px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: lightgray;
  color: #000;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navigation-menu ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(110vh - 77px);
    background-color: white;
    border-top: 1px solid black;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }

  .li-none {
    display: block;
  }

  .navigation-menu li a {
    color: black;
    color: white;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }
  .navigation-menu li a:hover {
    color: #000;
  }
  .navigation-menu.expanded ul {
    display: block;
  }
}

@media screen and (max-width: 380px) {
  .hamburger {
    width: 28px;
    height: 28px;
    right: 38px;
  }
}
